<em>You are getting this message because you signed up to {{siteName}}, a product managed by <a href="{{companyUrl}}">{{companyName}}</a>. {{companyAddress}}. <a href="callto:{{companyTelephone}}">{{companyTelephone}}</a> <a href="{{companyEmail}}">{{companyEmail}}</a></em>
