<em>You are getting this message because you signed up to {{siteName}}, a product managed by <a href="{{companyUrl}}">{{companyName}}</a>. {{companyDetails}} <a href="{{supportMail}}">{{supportMail}}</a></em>
